@* @inject CustomerService customerservice
@attribute [Authorize(Roles = "Admin")]
@using Microsoft.AspNetCore.Authorization
@using TanzEksp.Shared.DTO
@using TanzEksp.Client.Services

<h3>Tilføj ny kunde</h3>

<div class="group-box">
    <EditForm EditContext="@editContext"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit">
        <DataAnnotationsValidator />

        <div class="row">
            <div class="col-6 mb-3">
                <label for="fornavn">Fornavn</label>
                <InputText id="fornavn" @bind-Value="KundeModel.Fornavn" class="form-control" />
                <ValidationMessage For="@(() => KundeModel.Fornavn)" />
            </div>

            <div class="col-6 mb-3">
                <label for="efternavn">Efternavn</label>
                <InputText id="efternavn" @bind-Value="KundeModel.Efternavn" class="form-control" />
                <ValidationMessage For="@(() => KundeModel.Efternavn)" />
            </div>

            <div class="col-6 mb-3">
                <label for="TelefonNummer">Telefonnummer</label>
                <InputText id="TelefonNummer" @bind-Value="KundeModel.TelefonNummer" class="form-control" />
                <ValidationMessage For="@(() => KundeModel.TelefonNummer)" />
            </div>

            <div class="col-6 mb-3">
                <label for="Email">Email</label>
                <InputText id="Email" @bind-Value="KundeModel.Email" class="form-control" />
                <ValidationMessage For="@(() => KundeModel.Email)" />
            </div>
        </div>
        <div class="d-block mt-3">
            <button type="submit" class="btn btn-primary">Tilføj kunde</button>
        </div>
    </EditForm>
</div>


@code {

 protected override async Task OnInitializedAsync()
    {   

    }


}
 *@